<!doctype html>
{% load static %}
<html lang="en">
 <head>
  <meta charset="utf-8">

  <title>Image Gallery</title>
  <meta name="description" content="Responsive Image Gallery">
  <meta name="author" content="Tim Wells">
  <link rel="stylesheet" href="{% static 'css/macro.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <style type="text/css">
  </style>
</head>
<body>

  <div class="whole">



    <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}"> <span id="my">My</span> Stock</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'admin:index' %}">Admin <span class="sr-only"></span></a></li>
        <li><a href="{% url 'blog:users' %}">Feedback</a></li>
        <li><a href="{% url 'blog:register' %}">Register</a></li>
        <li><a href="{% url 'blog:about' %}">About</a></li>



      </ul>
      <ul class="nav navbar-nav navbar-right">


        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}"><span id="username">{{ user.username }} </span>   Logout</a></li>
        {% else %}
        <li><a href="{% url 'blog:user_login' %}"><span id="login">Login</span></a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>


<div id = "items">


<div id="gallery">


   <img src="{% static 'images/macro/apple.jpg' %}">
   <img src="{% static 'images/macro/eye.jpg' %}">
   <img src="{% static 'images/macro/green.jpg' %}">
   <img src="{% static 'images/macro/housefly.jpg' %}">
   <img src="{% static 'images/macro/image1.jpg' %}">
  <img src="{% static 'images/macro/image3.jpg' %}">
   <img src="{% static 'images/macro/image5.jpg' %}">
   <img src="{% static 'images/macro/image6.jpg' %}">
   <img src="{% static 'images/macro/image7.jpg' %}">
   <img src="{% static 'images/macro/image8.jpg' %}">
   <img src="{% static 'images/macro/image9.jpg' %}">
   <img src="{% static 'images/macro/image11.jpg' %}">
   <img src="{% static 'images/macro/image12.jpg' %}">
   <img src="{% static 'images/macro/image10.jpg' %}">
   <img src="{% static 'images/macro/image16.jpg' %}">
   <img src="{% static 'images/macro/image17.jpg' %}">
   <img src="{% static 'images/macro/image18.jpg' %}">
   <img src="{% static 'images/macro/image20.jpg' %}">
   <img src="{% static 'images/macro/image21.jpg' %}">
   <img src="{% static 'images/macro/image24.jpg' %}">
   <img src="{% static 'images/macro/image28.jpg' %}">
   <img src="{% static 'images/macro/image29.jpg' %}">

   <img src="{% static 'images/macro/image35.jpg' %}">
   <img src="{% static 'images/macro/image37.jpg' %}">
   <img src="{% static 'images/macro/image38.jpg' %}">
   <img src="{% static 'images/macro/image39.jpg' %}">
   <img src="{% static 'images/macro/image40.jpg' %}">
   <img src="{% static 'images/macro/image41.jpg' %}">
   <img src="{% static 'images/macro/image42.jpg' %}">
   <img src="{% static 'images/macro/sagar_eye.jpg' %}">



  </div>
  </div>
  <div id="mystocktext">



  <div class="container">
  <br>
  <br>
  <p></p>
  <p></p>

  <h1 id="hello" >MY STOCK</h1>

  </div>

  <h3 id='addontext'>THE <span id="future">FUTURE</span> STARTS TODAY!</h3>
    </div>
      </div>
      <div class="loader">
      <span class="loader-block"></span>
      <span class="loader-block"></span>
      <span class="loader-block"></span>
      <span class="loader-block"></span>
      <span class="loader-block"></span>
      <span class="loader-block"></span>
      <span class="loader-block"></span>
      <span class="loader-block"></span>
      <span class="loader-block"></span>
    </div>




 </body>
</html>
